<html>
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
        <title>Rega</title>
    </head>
    <body>
        <!-- content -->
        <div>
          <h1> Rega </h1>
          <p> Rega is a chatbot that can help you answer questions when you don't have wifi or data.</p>
          <p> To sign up, fill out <a href="https://goo.gl/forms/9smXzOPDh0m3IiNh2" target="_blank">this form</a>, and we might get back to you, hopefully soon. </p>
        </div>
    </body>
</html>
